{{ define "404.html" }}
{{ template "base.html" . }}
{{ end }}

{{ define "content" }}
<h2 class="text-3xl text-primary font-semibold mb-2">404!</h2>
<p>Oops! This page doesn't exist!</p>
<br>
<p>Click <a class="underline text-text-secondary" href="/">here</a> to go back to the front page.</p>
<br>
<p>Or you can visit my <a class="underline text-text-secondary" href="https://github.com/inch6134">github</a>,
  <a class="underline text-text-secondary" href="https://www.linkedin.com/in/alex-in-su-chang/">linkedin</a>,
  or <a class="underline text-text-secondary" href="mailto:inch6134@gmail.com">email me</a>!
</p>

{{ end }}
