{{ define "index.html" }}
{{ template "base.html" . }}
{{ end }}

{{ define "content" }}
<div id="hero" //class="/h-svh">
  <h1 class="text-3xl text-primary font-bold mt-2 mb-2 drop-shadow-xs">hi, my name is alex</h1>
  <p>I’m an early-career software engineer focused on building reliable systems and expanding my skills across new
    technologies.</p>
</div>
<br>
<h2 class="text-2xl text-primary font-semibold mb-2">about me</h2>
<p>
  I'm a computer science student and former investment banking analyst making the transition into software engineering.
  As an early-career developer, I’m especially interested in building reliable systems and expanding my skills across
  new technologies.
  My background in finance taught me to solve complex problems under pressure, analyze systems critically, and pay close
  attention to details — strengths I now bring to software engineering.
</p>
<br>
<p>
  I’m particularly drawn to backend and systems programming, where efficiency and reliability matter. At the same time,
  I’m open to full-stack and front-end roles that let me contribute to meaningful projects, learn new technologies, and
  grow as a developer.
</p>
<br>
<p>Check out my projects below ↴</p>

<div id="projects-header" class="flex items-center justify-between gap-4 pt-10">
  <div class="w-min whitespace-nowrap">
    <h1 class="text-xl text-primary font-bold">Projects</h1>
  </div>
  <div class="inline-block w-full align-middle">
    <hr class="border-black-900">
  </div>
  <div class="w-min whitespace-nowrap">
    <a href="/projects">
      See More
    </a>
  </div>
</div>

<div id="projects" class="grid grid-cols-3 gap-6 justify-around pb-10 pt-10">
  <div class="grid grid-cols-1">
    <h3 class="text-lg text-primary font-bold justify-self-center pb-4">Custom Memory Allocator</h3>
    <div class="border flex flex-col p-4 flex-wrap align-center gap-4 min-h-64">
      <p class="text-md text-secondary-foreground">Custom dynamic memory allocator with segregated free list and
        explicit free list implementations.
      </p>
      <div class="mt-auto flex gap-2">
        <img src="/static/img/link.svg" alt="Stack" height="20" width="20">
        <a class="text-sm" href="https://github.com/inch6134/seg-list-malloc">Check it out on Github</a>
      </div>
      <div class="border-t w-full flex items-center pt-2 min-h-10">
        <img src="/static/img/stack.svg" alt="Stack" height="25" width="25">
        <img class="ml-auto" src="/static/img/c.svg" alt="Stack" height="25" width="25">
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1">
    <h3 class="text-lg text-primary font-bold justify-self-center pb-4">Tiny Unix Shell</h3>
    <div class="border flex flex-col p-4 flex-wrap align-center gap-4 min-h-64">
      <p class="text-md text-secondary-foreground">Unix-style shell supporting job control, I/O redirection, and
        built-in commands.</p>
      <div class="mt-auto flex gap-2">
        <img src="/static/img/link.svg" alt="Stack" height="20" width="20">
        <a class="text-sm" href="https://github.com/inch6134/tiny-shell">Check it out on Github</a>
      </div>
      <div class="border-t w-full flex items-center pt-2 min-h-10">
        <img src="/static/img/stack.svg" alt="Stack" height="25" width="25">
        <img class="ml-auto" src="/static/img/cpp.svg" alt="Stack" height="25" width="25">
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1">
    <h3 class="text-lg text-primary font-bold justify-self-center pb-4">Personal Portfolio</h3>
    <div class="border flex flex-col p-4 flex-wrap align-center gap-4 min-h-64">
      <p class="text-md text-secondary-foreground">Personal developer portfolio built with Go’s standard library and
        Tailwind CSS — minimal, fast, and dependency-light.</p>
      <div class="mt-auto flex gap-2">
        <img src="/static/img/link.svg" alt="Stack" height="20" width="20">
        <a class="text-sm" href="https://github.com/inch6134/portfolio">Check it out on Github</a>
      </div>
      <div class="border-t w-full flex items-center gap-2 pt-2 min-h-10">
        <img src="/static/img/stack.svg" alt="Stack" height="25" width="25">
        <img class="ml-auto" src="/static/img/go.svg" alt="Go" height="25" width="25">
        <img src="/static/img/tailwind.svg" alt="Tailwind" height="25" width="25">
      </div>
    </div>
  </div>
</div>

<div id="experiments-header" class="flex items-center justify-between gap-4">
  <div class="w-min whitespace-nowrap">
    <h1 class="text-xl text-primary font-bold">Experiments</h1>
  </div>
  <div class="inline-block w-full align-middle">
    <hr class="border-black-900">
  </div>
  <div class="w-min whitespace-nowrap">
    <a href="/experiments">
      See More
    </a>
  </div>
</div>

<div id="experiments" class="grid grid-cols-3 gap-6 justify-around pb-10 pt-10">
  <div class="grid grid-cols-1">
    <h3 class="text-lg text-primary font-bold justify-self-center pb-4">Trie-Based Autocomplete Engine</h3>
    <div class="border flex flex-col p-4 flex-wrap align-center gap-4 min-h-64">
      <p class="text-md text-secondary-foreground">Efficient autocomplete engine using a trie-based data structure to
        support fast prefix search.</p>
      <div class="mt-auto flex gap-2">
        <img src="/static/img/link.svg" alt="Stack" height="20" width="20">
        <a class="text-sm" href="https://github.com/inch6134/autocomplete-with-tries">Check it out on Github</a>
      </div>
      <div class="border-t w-full flex items-center gap-2 pt-2 min-h-10">
        <img src="/static/img/stack.svg" alt="Stack" height="25" width="25">
        <img class="ml-auto" src="/static/img/cpp.svg" alt="Go" height="25" width="25">
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1">
    <h3 class="text-lg text-primary font-bold justify-self-center pb-4">CLI RSA Encryption Tool</h3>
    <div class="border flex flex-col p-4 flex-wrap align-center gap-4 min-h-64">
      <p class="text-md text-secondary-foreground">RSA key generator and message encoder/decoder with Pollard’s Rho
        factorization implementation</p>
      <div class="mt-auto flex gap-2">
        <img src="/static/img/link.svg" alt="Stack" height="20" width="20">
        <a class="text-sm" href="https://github.com/inch6134/rsa-cli">Check it out on Github</a>
      </div>
      <div class="border-t w-full flex items-center gap-2 pt-2 min-h-10">
        <img src="/static/img/stack.svg" alt="Stack" height="25" width="25">
        <img class="ml-auto" src="/static/img/python.svg" alt="Go" height="25" width="25">
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1">
    <h3 class="text-lg text-primary font-bold justify-self-center pb-4">Gorillas Browser Game</h3>
    <div class="border flex flex-col p-4 flex-wrap align-center gap-4 min-h-64">
      <p class="text-md text-secondary-foreground">Browser-based artillery game inspired by the classic QBasic Gorillas,
        built with JavaScript and HTML Canvas.</p>
      <div class="mt-auto flex gap-2">
        <img src="/static/img/link.svg" alt="Stack" height="20" width="20">
        <a class="text-sm" href="https://github.com/inch6134/gorillas_js">Check it out on Github</a>
      </div>
      <div class="border-t w-full flex items-center gap-2 pt-2 min-h-10">
        <img src="/static/img/stack.svg" alt="Stack" height="25" width="25">
        <img class="ml-auto" src="/static/img/js.svg" alt="Go" height="25" width="25">
      </div>
    </div>
  </div>
</div>

{{ end }}
